<div>
    <!-- filter -->
    <div class="d-flex flex-row">
        <div class="pt-2 h5"> <strong>Transactions</strong> </div>
        <div class="pt-2 ml-auto h4">
            <select class="browser-default custom-select">
                <option selected>All</option>
                <option value="1">Income</option>
                <option value="2">Expenses</option>
            </select>
        </div>
    </div>


    <!-- transaction -->
    <mdb-card class="mt-3" *ngFor="let trans of transactions"> 
        <mdb-card-body>
            <mdb-card-title class="d-flex flex-row">
                <small class="pt-2">20/11/1019 11:31</small>
                <small class="pt-2 ml-auto">{{trans.type}}</small>
            </mdb-card-title>
            <mdb-card-text>
                <div class="d-flex flex-row">
                    <div class="pt-2"> <strong>{{trans.description}}</strong> </div>
                    <div class="pt-2 ml-auto"> <strong>R  {{trans.amount}}.00</strong> </div>
                </div>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>

</div>